@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy_Medium/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy_Medium/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy_Medium/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy_Bold/font-style(bold).woff2') format('woff2'),
    url('../fonts/Gilroy_Bold/font-style(bold).woff') format('woff'),
    url('../fonts/Gilroy_Bold/font-style(bold).ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Gilroy, sans-serif;
    color: #000;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header starts*/
.header {

}

.header_menu {

}

.menu_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.menu_item {

}

.menu_link {
    text-decoration: none;
    font-family: Gilroy,sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.menu_link:hover {
    color: #070707;
    transition: all .2s ease;
}

.horizontal_line {
    border: 1px solid #828282;
    background-color: #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
/*Header ends*/

/*_me starts*/
._me {
    margin-bottom: 105px;
}

._me_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 55px;
}

._me_name {
    max-width: 125px;

}

._me_name_text {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 48px;
    line-height: 59px;

}

._me_job {
    display: flex;
    max-width: 156px;
}

._me_job_text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.menu_language {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    transform: rotate(-90deg);
}

.language {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    font-weight: 700;
}

.language{
    text-decoration: none;
}

.language_mark {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
}

.language:hover {
    color: #070707;
    transition: all .2s ease;
}

._me_photo{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*_me ends*/

/*About me starts*/
.about_me {
    background-color: #f6f6f6;
}

.about_me_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 120px;
    margin-bottom: 35px;
}

.title_text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.about_me_description {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 52px;
    margin-bottom: 110px;
}

.about_me_description_text {
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

/*About me ends*/

/*Skills starts*/
.skills {

}

.skills_wrapper {

}

.skills_subtitle {
    margin-bottom: 85px;
}

.skills_subtitle_text {
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.programs {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    margin-bottom: 111px;
}

.programs_item {
    display: grid;
    justify-items: center;

}

.program_name {
    margin-top: 25px;
    margin-bottom: 42px;
}

.program_name_text {
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.rating {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 10px;
}

/*Skills ends*/

/*Portfolio starts*/
.portfolio{
    background-color: #f6f6f6;
}
.portfolio_wrapper {

}

.portfolio_projects {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.portfolio_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.portfolio_name {
    color: #070707;
    margin-top: 45px;
    margin-bottom: 100px;
    text-decoration: none;
}

.portfolio_name:hover {
    text-decoration: underline;
    transition: all .2s ease;
}

.portfolio_name_text {
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}
/*Portfolio ends*/

